/*=============================================================================
Header
=============================================================================*/
.bg-gradient {
    background: linear-gradient(top, $white, #e6e5e5);
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: rem(121);
    margin-top: rem(10);
}

+above(992px) {
    .navbar-nav.add-to-cart {
        right: 15px;
        left: auto;
    }

    .navbar-nav {
        position: absolute;
        bottom:8px;
        left: 15px
        margin-right: 0;

        & > li > a {
            font-weight: 600;
            font-size: 20px;
            color: $black;
            padding: 0;
            text-transform: uppercase;

            &:focus,
            &:hover {
                background-color: transparent !important;
                color: $red;
            }
        }
    }

    .navbar-collapse {
        padding: 0;
    }
}

.navbar-collapse.collapse {
    height: rem(180) !important;
    position: relative;
    transition: all $trans-time;
}
