<header class="header bg-gradient">

    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                </ul>

                <!-- Logo -->
                <a class="logo" href="/">
                    <img src="/dist/img/logo.png" alt="">
                </a>

                <ul class="nav navbar-nav navbar-right add-to-cart">
                    <li>
                        <a href="#">
                            <p class="text-center">
                                <img src="/dist/img/cart.png" alt="">
                            </p>
                            Buy lobster
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container lobster-intro">
        <div class="row">
            <div class="col-md-4">
                <p class="h1">Lobster</h1>
                <p class="h3">freediving weight</h3>
                <p>
                    Ошейник для фридайвинга нового поколения для самых легких тренировок
                    и достижения быстрых результатов.
                </p>
                <p>
                    Созданный с использованием опыта многих спортсменов, Lobster вобрал
                    в себя самые лучше качества, приблизившись
                    к идеалу.
                </p>
            </div>
            <div class="col-md-7 pull-right">
                <img src="/dist/img/lobster-intro.png" alt="">
            </div>
        </div>
    </section>

</header>
