/*=============================================================================
Footer
=============================================================================*/

.footer {
    background-color: #898989;
    text-align: center;
    color: $white;
    font-size: 18px;
    line-height: 183px;
}
